.bg_color{

  background-color: #cccccc;
}

.flex{

  display: flex;
}

.flex-ai-c {
  align-items: center;
}

.flex-sb {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

.flex-ji-c{
  justify-items: center;
}

.padding-lr {
  padding: 0 10px;
}


.height-800{
  height: 800px;;
}